.accordion {
    margin: 20px 0;
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}

.button {
    /* background-color: #eeedef; */
    color: #4a4a4a;
    border: none;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    height: 4em;
    background-color: #f0f0f0;
}

.content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.content.show {
    display: block;
}

.cancel_buy_box {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel_buy_box span {
    font-size: 14px;
    color: #6b6b6b;
    font-weight: 600;
    margin-right: 3em;
}

.cancel_buy_box button {
    font-size: 16px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #383838;
    padding: .5em;
    color: #fff;
}

.cancel_buy_box button:hover {
    background-color: #6b6b6b;
    cursor: pointer;
}

.avalie_buy_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box_identity {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2em;
}

.box_identity h4 {
    font-size: 18px;
    color: #383838;
    font-weight: 600;
    margin-bottom: 1em; 
    text-align: start;
}

.identity_radio {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio_dox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio_dox input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: border-color 0.2s ease;
    margin: 0;
    margin-right: .4em;
    background-color: #fff;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.radio_dox input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
    background: #9eb797;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.radio_dox input:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.radio_dox label {
    cursor: pointer;
    font-size: 16px;
    color: #6b6b6b;
}

.box_classification {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.box_classification h4 {
    font-size: 18px;
    color: #383838;
    font-weight: 600;
    margin-bottom: 1em; 
    text-align: start;
}

.classification_stars {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box_comment {
    width: 100%;
    height: 15em;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.box_comment h4 {
    font-size: 18px;
    color: #383838;
    font-weight: 600;
    margin-bottom: .5em; 
    text-align: start;
}

.box_comment textarea {
    width: 98%;
    height: 80%;
    outline: none;
    resize: none;
}

.box_btn {
    width: 100%;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_btn button {
    width: 100%;
    min-height: 2.5em;
    border: 0;
    background-color: #6b6b6b;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.box_btn button:hover {
    background-color: #afacac;
    color: #383838;
    cursor: pointer;
}

/* CONFIGURAÇÃO */

.conf_data_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.conf_data_box button {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    border: 0;
    color: #383838;
    font-size: 16px;
    background-color: transparent;
    text-align: start;
    cursor: pointer;
    transition: .3s;
}

.conf_data_box button:hover {
    color: rgba(116, 123, 115, 0.9);
}

.conf_data_box a {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    border: 0;
    color: #383838;
    font-size: 16px;
    background-color: transparent;
    text-align: start;
}

.conf_data_box span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383838;
    font-size: 16px;
}

.conf_data_box span i {
    margin-right: .4em;
    margin-bottom: .1em;
}

.toggle_button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0 1em 0;
}

.toggle_button span {
    color: #383838;
    font-size: 16px;
    margin-right: 1em;
}