/* #root {
    max-width: 1280px;
} */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(163, 56, 56); */
}

.container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 .8em;
    /* background-color: white; */
}

@media(min-width: 992px) {
    .container {
        margin: 0 3em;
    }
}

@media(min-width: 1200px) {
    .container {
        margin: 0 8em;
    }
}

@media(min-width: 1400px) {
    main {
        align-items: center;
    }

    .container {
        width: 1200px;
    }
}
 