:root {
  font-weight: 400;
  font-family: Montserrat;
}

.estilo {
  width: 100%;
}

a {
  font-size: 14px;
  font-weight: unset;
  color: #4a4a4a;
  text-decoration: underline;
}
a:hover {
  color: #a19d9d;
}

h1 {
  min-width: 9.5em;
  font-weight: 200;
  font-size: 30px;
  margin: 0;
}

span {
  font-size: 30px;
  font-weight: 500;
}

h2 {
  color: #c1c100;
  margin: 0;
  font-size: 30px;
  max-width: 9em;
}

h3 {
  font-size: 30px;
  margin: 0 0 0 .6em;
  font-weight: 300;
}

li {
  max-width: 17em;
  margin-bottom: .5em;
  font-size: 16px;
}

@media(min-width: 444px) {
  li {
    font-size: 20px;
  }
}

@media(min-width: 534px) {
  h1 {
    font-size: 30px;
  }

  span {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  li {
    max-width: 22em;
  }
}

@media(min-width: 634px) {
  h1 {
    font-size: 38px;
  }

  span {
    font-size: 38px;
  }

  h2 {
    font-size: 38px;
  }
}

@media(min-width: 800px) {
  h1 {
    font-size: 45px;
  }

  span {
    font-size: 45px;
  }

  h2 {
    font-size: 45px;
  }

  li {
    max-width: 36em;
  }
}

@media(min-width: 992px) {
  h1 {
     max-width: 10em;
  }

  li {
    max-width: 17em;
    font-size: unset;
  }
}


/* body {
  /* background-color: #fff7f7; 
   background: linear-gradient(358deg,rgba(255, 247, 247, 1) 0%, rgba(222, 228, 243, 1) 31%, rgba(196, 242, 231, 1) 100%);
} */
